
/* Logo pada navbar */
.navbar-brand img {
  border-radius: 50%;
}

/* Video Background */
.video-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.video-container video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: brightness(70%);
}

.carousel-caption {
  bottom: 35%;
}

.carousel-caption h2 {
  font-size: 3rem;
  font-weight: 700;
}

/* Section Layanan */
#paket-layanan h2 {
  font-weight: 700;
}

.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 15px;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
}

  

  .lingkaran {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #dc3545; /* merah bootstrap */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    color: white;
  }
  
  
  .crop-img{
    object-fit: cover;
  }
  
  .tim img{
    width: 150px;
    border: 10 px solid #ccc ;
  }
  
  a.social {
    display: inline-block;
    width: 40px;
    height: 40px;
    color: #fff;
    background-color: #0f1316; /* warna biru Bootstrap */
    border-radius: 50%; /* membuatnya berbentuk lingkaran */
    line-height: 40px; /* agar ikon di tengah secara vertikal */
    text-align: center; /* agar ikon di tengah secara horizontal */
    transition: background-color 0.3s, transform 0.3s;
  }
  
  a.social:hover {
    background-color: #0e1216; /* warna saat hover */
    transform: scale(1.1); /* efek membesar sedikit */
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    background-color: #edeff1;
  }
  
  #contact h2 {
    color: #163033;
  }
  
  .contact-info i {
    color: #05262b;
  }
  
  #contact-form label {
    font-weight: 500;
  }
  
  #contact-form input,
  #contact-form select,
  #contact-form textarea {
    border-radius: 8px;
    border: 1px solid #ccc;
  }
  
  #contact-form button {
    background-color: #060b0c;
    border: none;
    transition: all 0.3s ease;
  }
  
  #contact-form button:hover {
    background-color: #0c1213;
    transform: scale(1.05);
  }
  
  /* Footer */
footer {
  font-size: 0.9rem;
}

footer a:hover {
  text-decoration: underline;
}

/* layanan */
body {
  background-color: #f8fafc;
  scroll-behavior: smooth;
}

/* Heading Utama */
h2.display-3 {
  color: #0d6efd;
  font-weight: 700;
  letter-spacing: 1px;
}

/* Card Style */
.card {
  border: none;
  border-radius: 20px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 25px rgba(0,0,0,0.1);
}

.card img {
  height: 250px;
  object-fit: cover;
}

/* Card Text */
.card-title {
  font-weight: 600;
  color: #0d6efd;
}

.card-text {
  font-size: 0.95rem;
  text-align: justify;
  color: #333;
}

/* Footer Style */
footer {
  background: #111;
  color: #ccc;
}

footer a {
  color: #e8edee;
  text-decoration: none;
}

footer a:hover {
  color: #fff;
}
